// .mainContent img {
//     width: 100%;
//     height: auto;
//     padding: 25% 5% 25% 5%;
// }

.sideImg{
    width: 100%;
    height: auto;
    padding: 25% 4% 25% 0;
    // margin-top: 50%;
    // padding-right: 4%;
}

.modal-body img{
    width: 100%;
    height: auto; 
}