.divider {
  @include divider(bottom, 10%);
}
header.masthead {
  padding-top: calc(1em + 72px);
  // padding-bottom: 1%;
  h1 {
    font-size: 2em;
    line-height: 2em;
  }
  h2 {
    font-size: .9rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(1em + 106px);
    // padding-bottom: 1%;
    h1 {
      font-size: 1.5em;
      line-height: 1.5rem;
    }
    h2 {
      font-size: .75em;
    }
  }
}
