// NOTES: The divider is my mixin.
@mixin divider($side, $width){
  width: $width;
  border-#{$side}: 3px solid $primary;
}


@mixin body-font() {
  font-family: 'Lato';
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Montserrat';
}

